.shortcode_getbowtied_slider 
{
	animation: fadeIn 1.5s;

	&.full_height
	{
		height: 100vh;
	}

	.vc_row:not(.vc_row-no-padding) &
	{
		@include breakpoint(small only)
		{
			margin-right: rem-calc(-20);
	    	margin-left: rem-calc(-20);
	    	width: calc(100% + 2.5rem) !important;

		}
	}

	.swiper-slide 
	{
		background-size: cover;
		position: relative;
		width: 100%;

		.slider-content
		{
			position: relative;
			text-align: left;
			padding: 0 rem-calc(84) 0 rem-calc(40);
			box-sizing: border-box;
			width: 100%;
			max-width: 1340px;
			margin: auto;

	    	display: flex;
	    	align-items: flex-start;
	    	flex-direction: column;
	    	height: 100%;
	    	justify-content: center;

			@include breakpoint(medium)
			{
				padding: 0 rem-calc(60);
			}

			@include breakpoint(large)
			{
				padding: 0 rem-calc(84);
			}

			.slider-content-wrapper
			{
				width: 90%;

				@include breakpoint(medium)
				{
					width: 45%;
				}
			}
		}

		.slide-title 
		{
			font-size: rem-calc(13);
			text-transform: uppercase;
			word-wrap: break-word; 
			margin-bottom: rem-calc(25);
		}

		.slide-description
		{
			word-wrap: break-word; 
			line-height: 1.5;
			font-size: rem-calc(25);
			margin-bottom: rem-calc(35);

			@include breakpoint(large)
			{
				font-size: rem-calc(40);
			}
		}

		.slide-button
		{
			text-transform: uppercase;
			font-size: rem-calc(13);
		    padding-bottom: 8px;
			border-bottom: 3px solid;

			&:hover
			{
				border-bottom: 3px solid transparent !important;
			}
		}

		.fullslidelink 
		{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}

	}

	.shortcode-slider-pagination
	{
    	position: absolute;
    	z-index: 9999;
    	width: 25%;
    	display: flex;
    	align-items: flex-end;
    	flex-direction: column;
    	height: 100%;
    	justify-content: center;
    	right: 0;
    	top: 0;
    	left: auto;

		.swiper-pagination-bullet 
		{
			margin: 0 0 rem-calc(20);
			background: none;
			transition: all .3s ease;
			width: auto;
			height: auto; 
			font-size: 13px;  
			counter-increment: slideNum;
			opacity: 1;

			&:last-child
			{
				margin: 0;
			}
			
			&:before
			{
				content: '0'counter(slideNum);
			}
			
			&:after
			{
				content: "";
				height: 1px;
				width: 0;
				display: inline-block; 
				vertical-align: middle;  
				margin-left: rem-calc(20);
				transition: all ease-in .5s;
			}

			&.swiper-pagination-bullet-active 
			{
				background: none;
				
				&:after
				{
					content: "";
					height: 1px;
					width: 20px;
					display: inline-block; 
					vertical-align: middle;  
					margin-left: rem-calc(20);
					// background-color: #fff;
				}
			}

		}

	}
}